header {
    background: #244564;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    right: 0;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas:
      "h1 h1 button";
}

content {
    background: #faf4f4;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    overflow: auto;
}

footer {
    background: #244564;
    position: absolute;
    bottom: 0;
    height: 10%;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-template-areas:
         "money_to_assign h1 contact_info";
    overflow: hidden;
}

contact_info {
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
         "h2 social_media h2"
         "h2 social_media h2";
}

.mobile_header {
    display: none;
}

.social_media {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
         "img h2";
}

.social_media_img {
    /*height: 50%;*/
    /*margin-top: 30%;*/
    max-height: 50%;
    margin-top: 10%;
}

h1 {
    font-family: Ink Free, serif;
    font-weight: lighter;
    color: #f7f2f2;
    text-align: center;
    font-size: 150%;
}

h2 {
    font-family: Ink Free, serif;
    font-weight: lighter;
    color: #f7f2f2;
    text-align: center;
    font-size: 50%;
    height: 100%;
}

button {

}

money_to_assign {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
         "h1 h1 h1";
}

bookmarks {
    display: grid;
    height: 5%;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
         "bookmark bookmark bookmark bookmark";
    align-items: center;
    margin-left: 5%;
}

bookmark {
    font-family: Segoe UI, serif;
    letter-spacing: 0;
    color: #244564;
    border-radius: 30px;
    border: none;
    height: auto;
    font-size: 50%;
    text-align: center;
}

.bookmark_container {
    background-color:#E9E4E4;
    height: 100%;
    position: relative;
    overflow: auto;
}

.budget_table {
    display:table;
    background-color: #faf4f4;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
}

.transaction_table {
    display:table;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    align-items: center;
}

table {
    overflow: scroll;
    min-width: 350px;
}

.break {
    height: 1%;
}

.subtable {
    display:table;
    background-color: #faf4f4;
    margin-left: 1%;
    width: 98%;
    margin-top: 1%;
}

.subtable thead {
    background-color: #D5E6F2;
    width: 100%;
}

.category_name {
    font-family: Segoe UI, serif;
    color: #244564;
    text-align: center;
    width: 20%;
}

.subcategory_name {
    font-family: Segoe UI, serif;
    color: #244564;
    font-size: 130%;
}

.sub_subcategory {
    font-family: Segoe UI, serif;
    color: #244564;
    text-align: center;
    font-size: 100%;
    width: 20%;
    line-break: normal;
}

.statistic_container {
    height: 100%;
    position: relative;
    background-color: cornsilk;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
         "statistic_left_container statistic_right_container";
}

.statistic_left_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "statistic"
        "statistic";
    justify-items: center;
    align-items: center;
}

.statistic_right_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.statistic {
    align-content: center;
    justify-content: center;
    display: flex;
}

.settings_container {
    height: 100%;
    position: relative;
    background-color: #D5E6F2;
}

.edit_button {
    font-weight: lighter;
    height: 4vh;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;

    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.logout_button {
    font-family: Ink Free, serif;
    font-weight: lighter;
    color: #f7f2f2;
    height: 80%;
    border: none;
    background: none;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.edit_txn_form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.edit_txn_form-container input[type=text], .edit_txn_form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    color: #244564;
    font-family: Segoe UI, serif;
}

/* When the inputs get focus, do something */
.edit_txn_form-container input[type=text]:focus, .edit_txn_form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    color: #244564;
    font-family: Segoe UI, serif;
}

/* Set a style for the submit/login button */
.edit_txn_form-container .submit_btn {
    background-color: #E9E4E4;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.edit_txn_form-container .delete {
    background-color: #F3E6D1;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.edit_txn_form-container .cancel {
    background-color: #D5E6F2;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.edit_txn_form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


.add_txn_btn {
    cursor: pointer;
    width: 10vh;
    height: 5vh;
    border-radius: 90px;
    background: #244564;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Add styles to the form container */
.add_txn_form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.add_txn_form-container input[type=text], .edit_txn_form-container input[type=password] {
    width: 100%;
    padding: 15px;
    border: none;
    color: #244564;
    font-family: Segoe UI, serif;
}

/* When the inputs get focus, do something */
.add_txn_form-container input[type=text]:focus, .edit_txn_form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    color: #244564;
    font-family: Segoe UI, serif;
}

/* Set a style for the submit/login button */
.add_txn_form-container .submit_btn {
    background-color: #E9E4E4;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.add_txn_form-container .cancel {
    background-color: #D5E6F2;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.add_txn_form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.transaction_container {
    overflow: auto;
}

/* Add styles to the form container */
.delete_account_form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Set a style for the submit/login button */
.delete_account_form-container .submit_btn {
    background-color: #E9E4E4;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.delete_account_form-container .cancel {
    background-color: #D5E6F2;
    color: #244564;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.delete_account_form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.bookmark_btn {
    border: none;
    background-color: transparent;
}

.statistic_img {
    max-width: 80%;
    margin-left: 10%;
}

.mobile {
    display: none;
}

.statistic_mobile {
    display: none;
}

.footer_mobile {
    display: none;
}

.bookmarks_mobile {
    display: none;
}

.mobile_transaction {
    display: none;
}

@media only screen and (max-device-width: 420px) {
    .website {
        display: none;
    }

    body {
        background: #244564;
    }
    .statistic_left_container {
        display: none;
    }
    .statistic_right_container {
        display: none;
    }

    .statistic_container {
        display: flex;
    }

    .statistic_mobile {
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas:
            "statistic"
            "statistic"
            "statistic";
        overflow: auto;
        align-items: center;
        justify-items: center;
    }

    .statistic_img {
        max-height: 80%;
        margin-top: 10%;
        margin-left: 0;
    }

    .bookmarks_mobile {
        display: grid;
        height: 5%;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
         "bookmark bookmark bookmark bookmark";
        align-items: center;
        margin-left: 5%;
    }

    .footer_mobile {
        display: flex;
        justify-content: center;
    }

    .edit_button {
        font-family: Segoe UI, serif;
        font-weight: lighter;
        text-align: center;
        height: 4vh;
    }

    .mobile_transaction {
        display: flex;
    }

    .mobile_header {
        background: #244564;
        position: absolute;
        top: 0;
        left: 0;
        height: 10%;
        right: 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
      "h1 button";
    }

}
