body {
    background: linear-gradient(90deg, #e4e4e4 50%, #244564 50%);
    margin: 0;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .left-container img {
    width: 100%;
    object-fit: contain;
  }
  
  .left-container {
    width: 50%;
  }
  
  .logo h1 {
    font-family: Ink Free, serif;
    font-size: calc(5vw + 3vh);
    font-weight: lighter;
    color: #f7f2f2;
    text-align: center;
  }
  
  .right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-container {
    width: 75%;
    max-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 2fr 4fr 1fr;
    justify-self: center;
  }
  
  .login-panel {
    width: 100%;
    height: 400px;
    background: #faf4f4;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 70%;
    display: grid;
    row-gap: 32px;
    column-gap: 22px;
  }
  
  form.login {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "login login login"
      "pwd pwd pwd"
      "submit register ."
      "forgot forgot forgot";
  }

  form.register {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "login login login"
      "username username username"
      "pwd pwd pwd"
      "rpwd rpwd rpwd"
      "submit . .";
  }

  form.mail-verification {
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "h2 h2 h2 h2"
      "code code code code"
      "submit . . .";
  }

  form.new-pwd {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "pwd pwd pwd ."
      "rpwd rpwd rpwd rpwd"
      "submit . . .";
  }
  
  .email::placeholder,
  .pwd::placeholder,
  .username::placeholder,
  .rpwd::placeholder,
  .number::placeholder,
  h2 {
    font-family: Ink Free;
    font-size: 24px;
    color: #707070;
    text-align: left;
  }

  h2 {
    grid-area: h2;  
}

  .code {
    grid-area: code;
  }

  .username {
    grid-area: username;
  }
  
  .email {
    grid-area: login;
  }
  
  .pwd {
    grid-area: pwd;
  }

  .rpwd {
    grid-area: rpwd;
  }
  
  .input-style {
    font-family: Ink Free;
    font-size: 24px;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #707070;
    max-height: 24px;
  }
  
  .submit {
    grid-area: submit;
  }
  
  .register {
    grid-area: register;
  }
  
  .forgot {
    grid-area: forgot;
    font-family: Ink Free;
    color: #707070;
    font-size: 20px;
  }
  
  *:focus {
    outline: none;
  }
  
  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  
  .login-button-style {
    border: 1px solid #707070;
    border-radius: 30px;
    background: none;
    text-align: center;
    font-family: Ink Free;
    color: #707070;
    font-size: 20px;
  }

  .message {
    font-family: Ink Free;
    font-weight: lighter;
    color: #f7f2f2;
  }